git+https://github.com/KurimuzonAkuma/pyrogram
pyrofork
tgcrypto
pymongo[srv]
motor
marshmallow
umongo
pytz
git+https://github.com/Joelkb/cinemagoer
shortzy
aiohttp
aiofiles
speedtest-cli
fuzzywuzzy
python-Levenshtein
dnspython
